<div class="main-content">
  <div class="container-fluid">
    <div class="card">
        <div class="card-header card-header-danger">
            <h4 class="card-title">Material Dashboard Heading</h4>
            <p class="card-category">Created using Roboto Font Family</p>
        </div>
        <div class="card-body">
            <div id="typography">
                <div class="card-title">
                    <!-- <h2>Typography</h2> -->
                </div>
                <app-payment></app-payment>
            </div>
        </div>
    </div>
</div>
</div>